h1 {
    font-size: 2.4rem;
    line-height: 2.8rem;
    letter-spacing: -0.015em;
    color: $primary;
}

h2 {
    font-size: 2rem;
    line-height: 2.3rem;
    letter-spacing: -0.065em;
    color: #ffffff;
}

p, li {
    font-weight: 400;
    font-size: 1.6rem;
    overflow-wrap: break-word;
    color: #ffffff;
}

h1,
h2 {
    overflow-wrap: break-word;
    font-weight: 700;
}